<!-- Team screen -->
<div class="site-wrapper site-wrapper_team screen" id="team">
  <div class="site-wrapper__inner">
    <div class="cover-container">
      <h2 class="title">
        {{ authors.title | markdown({ 'em': '<span class="global-text-color">%s</span>' }) | raw }}
      </h2>
      {% if team.subtitle is defined %}
        <p class="title__sub-text">
          {{ authors.subtitle }}
        </p>
      {% endif %}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- Carousel -->
          <div id="team__carousel" class="carousel slide">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              {% for author in authors.items %}
                <div class="item">
                  <div class="cover-container">
                    <div class="team-member__icon">
                      <i class="fa {{ author.icon }} fa-2x"></i>
                    </div>
                    <h2 class="team-member__title global-text-color">
                      {{ author.name }}
                    </h2>
                    {% if member.title is defined %}
                      <h2 class="team-member__title">
                        {{ author.title }}
                      </h2>
                    {% endif %}
                    <p class="team-member__summary g-line-height-lg">
                      {{ author.text }}
                    </p>
                    <div class="text-center">
                      <a href="#" class="btn btn-transparent team-member__btn">{{ author.button.text }}</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>